{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-plusplus": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
