/* Coolors Exported Palette - coolors.co/f9736c-4f4b4d-8c8889-d5e2df-fdf1d8 */

/* HSL */
$color1: hsla(3%, 92%, 70%, 1);
$color2: hsla(330%, 3%, 30%, 1);
$color3: hsla(345%, 2%, 54%, 1);
$color4: hsla(166%, 18%, 86%, 1);
$color5: hsla(41%, 90%, 92%, 1);

/* RGB */
$color1: rgba(249, 115, 108, 1);
$color2: rgba(79, 75, 77, 1);
$color3: rgba(140, 136, 137, 1);
$color4: rgba(213, 226, 223, 1);
$color5: rgba(253, 241, 216, 1);